h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bolder;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 15%;
}
img {
  height: 50px;
}
button {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bolder;
  height: 45px;
  width: 100px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: #003500;
}
