<footer>
  <div class="d-flex left-div">
    <div class="logo-class">
      <img src="/assets/Footer/logo.png" alt="" />
      <h1>EXAMPLE</h1>
      <p>
        Welcome to [Your Brand Name], where we're dedicated to crafting
        personalized, nutritious meals to fuel your health journey.
      </p>
    </div>
    <div class="lists-class">
      <div>
        <h1>Navigation</h1>
        <ul>
          <li>Home</li>
          <li>Build Up</li>
          <li>About</li>
        </ul>
      </div>
      <div>
        <h1>Quick Links</h1>
        <ul>
          <li>Bookings</li>
          <li>Contact US</li>
          <li>FAQs</li>
        </ul>
      </div>
      <div>
        <h1>Services</h1>
        <ul>
          <li>Home</li>
          <li>Contact</li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
  </div>
  <div></div>
</footer>
