<div class="main-div">
  <div class="header-class">
    <div class="info">
      <img src="/assets/About/logo.png" alt="" />
      <h1>Example</h1>
      <p>Your slogan of website</p>
    </div>
    <img src="assets/Home/plate background.png" alt="" class="plate-img" />
    <svg
      class="vectors"
      width="680"
      height="826"
      viewBox="0 0 760 926"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M488 452.5C214 643 83.6667 787.333 63 926H779.5L779 37C643 142 657.5 295.5 488 452.5Z"
        fill="#007E00"
      />
      <path
        d="M438 581.5C732 420.5 700 139.5 778.5 0L780 926H0C75.5 852 77.6917 778.812 438 581.5Z"
        fill="#40A401"
      />
    </svg>
  </div>
  <div class="information">
    <div class="about-us">
      <div>
        <h1>Our Story</h1>
        <br />
        <p>
          Welcome to [Your Brand Name], where we're dedicated to crafting
          personalized, nutritious meals to fuel your health journey. With our
          fresh and flavorful options, we're here to support your goals and make
          healthy eating an enjoyable experience.
        </p>
      </div>
      <div>
        <h1>Reviews</h1>
        <br />
        <p>
          Welcome to [Your Brand Name], where we're dedicated to crafting
          personalized, nutritious meals to fuel your health journey.
        </p>
        <br />
        <img
          src="/assets/About/person photo.png
        "
        />
      </div>
    </div>
    <div class="values">
      <h1>Our Values</h1>
      <br>
      <div class="value-images">
        <div>
          <img src="assets/About/w1.png" />
          <br>
          <p>Quality</p>
        </div>
        <div>
          <img src="assets/About/w2.png" />
          <br>
          <p>Taste</p>
        </div>
        <div>
          <img src="assets/About/w3.png" />
          <br>
          <p>Health</p>
        </div>
        <div>
          <img src="assets/About/w4.png" />
          <br>
          <p>Transperency</p>
        </div>
      </div>
    </div>
  </div>
</div>
