.main-div {
  background-image: url("/assets/Build/background\ picture.jpg");
  background-size: cover;
  margin-bottom: -10px;
}
.header-class {
  height: 817px;
  width: 100%;
  background-color: #101010b5;
}
.vectors {
  position: relative;
  left: 65%;
}
.first-div {
  height: 900px;
  width: 100%;
  background-image: url("/assets/Home/Second-background.jpg");
  background-size: cover;
}
.darker-bg {
  background-color: #2525258a;
  align-items: center;
  justify-content: space-around;
}

.plate-img {
  width: 802px;
  position: absolute;
  left: 65%;
  top: 74px;
  z-index: 5;
}
.info {
  position: absolute;
  top: 150px;
  left: 350px;
  color: white;
  text-align: center;
}
.info img {
  height: 400px;
  box-shadow: 0px 0px 23px 23px #a1f76b38;
  background: #a1f76b38;
  border-radius: 100%;
}
.info h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;
  color: #ffffff;
  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}
.info p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

.information {
  height: 1400px;
  background-color: #40a401;
}
.about-us {
  height: 600px;
  margin: auto;
  width: 1000px;
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us div {
  height: 250px;
  background-color: transparent;
  text-align: center;
}
.about-us h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;
  color: #ffffff;
  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}
.about-us p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 4px 6.8px rgba(0, 0, 0, 0.25);
}
.about-us img {
  height: 100px;
}
.values {
  position: relative;
  top: 200px;
  width: 1200px;
  text-align: center;
  margin: auto;
  padding: 30px;
  background: #307d00;
  border-radius: 80px;
}
.values h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;
  color: #ffffff;
  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}

.value-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.value-images img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.value-images p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}
