<div class="sign-in">
  <img src="/assets/Authorize/logo.png" alt="" />
  <input type="text" name="" id="" placeholder="Enter Your Email Address" />
  <input type="text" name="" id="" placeholder="Enter Your Password" />
  <button class="login">Login</button>
  <br />
  <p class="or-login">Or login with</p>
  <div class="soc-login">
    <button>Facebook</button>
    <button>Google</button>
  </div>
  <br>
  <br>
  <p class="register" (click)="authorizeBind()">Not Our Member? Register</p>
</div>
