<header class="d-flex justify-content-evenly align-items-center">
  <div class="logo-div">
    <img style="height: 62px" src="/assets/Navigation/logo.png" alt="" />
  </div>
  <div class="buttons-div">
    <ul
      class="buttons-list d-flex justify-content-evenly align-items-center m-auto"
    >
      <li routerLink="/">Home</li>
      <li routerLink="/build">Build Up</li>
      <li routerLink="/about">About</li>
      <li routerLink="/contact">Contact Us</li>
    </ul>
  </div>
  <div class="authorize-div rounded">
    <div routerLink="/authorize" class="authorize p-1">
      <p>Sign In</p>
    </div>
  </div>
</header>
