<header class="d-flex justify-content-evenly align-items-center">
  <div class="logo-div">
    <img style="height: 62px" src="/assets/Navigation/logo.png" alt="" />
  </div>
  <div class="buttons-div">
    <ul
      class="buttons-list d-flex justify-content-evenly align-items-center m-auto"
    >
      <li [ngClass]="{ 'homePageTextColor': saver == '/home' }" routerLink="/">Home</li>
      <li [ngClass]="{ 'homePageTextColor': saver == '/home' }" routerLink="/build">Build Up</li>
      <li [ngClass]="{ 'homePageTextColor': saver == '/home' }" routerLink="/about" >About</li>
      <li [ngClass]="{ 'homePageTextColor': saver == '/home' }" routerLink="/contact" >Contact Us</li>
    </ul>
  </div>
  <div class="authorize-div rounded" routerLink="/authorize">
    <div class="authorize p-1">
      <p [ngClass]="{ 'homePageTextColor': saver == '/home' }">Sign In</p>
    </div>
  </div>
</header>
