<main class="d-flex justify-content-evenly align-items-center">
  <div class="logo-div">
    <img style="height: 62px" src="/assets/Navigation/logo.png" alt="" />
  </div>
  <div class="buttons-div">
    <ul
      class="buttons-list d-flex justify-content-evenly align-items-center m-auto"
    >
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/build">Build Up</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="authorize-div rounded">
    <div class="authorize p-1">
      <p>Sign In</p>
    </div>
  </div>
</main>
