<div class="main-div">
  <header>
    <div class="info">
      <p>Welcome to our</p>
      <h1>
        Healthy Food <br />
        Collection
      </h1>
      <h6>
        Empowering your health journey through <br />
        personalized, wholesome meals.
      </h6>

      <button>Build up</button>
    </div>

    <svg
      class="vectors"
      width="680"
      height="826"
      viewBox="0 0 780 926"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M488 452.5C214 643 83.6667 787.333 63 926H779.5L779 37C643 142 657.5 295.5 488 452.5Z"
        fill="#007E00"
      />
      <path
        d="M438 581.5C732 420.5 700 139.5 778.5 0L780 926H0C75.5 852 77.6917 778.812 438 581.5Z"
        fill="#40A401"
      />
    </svg>
  </header>
  <main>
    <div class="first-div d-flex">
      <div class="darker-bg w-100 h-100 d-flex">
        <div class="title">
          <img src="/assets/Home/logo.png" alt="" /><br />
          <h1>EXAMPLE</h1>
          <br />
          <h3>SLOGAN OF YOUR BRAND</h3>
        </div>
        <div class="info-div">
          <h1>Welcome</h1>
          <p>
            Welcome to [Your Brand Name], where we're dedicated to crafting
            personalized, nutritious meals to fuel your health journey. With our
            fresh and flavorful options, we're here to support your goals and
            make healthy eating an enjoyable experience.
          </p>
          <button>Learn More</button>
        </div>
      </div>
    </div>
    <div class="second-div">
      <div>
        <img class="w1" src="/assets/Home/w1.png" alt="" />
        <img class="w2" src="/assets/Home/w2.png" alt="" />
        <img class="w3" src="/assets/Home/w3.png" alt="" />
        <img class="w4" src="/assets/Home/w4.png" alt="" />
      </div>
      <div></div>
    </div>
  </main>
</div>
