.main-div {
  background-color: #fff8e9;
  margin-bottom: -10px;
}
header {
  height: 817px;
  width: 100%;
}
.vectors {
  float: right;
}
.info {
  position: absolute;
  top: 250px;
  left: 100px;
}
.info p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #41a700;
}
.info h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;
  color: #003500;
  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}
.info h6 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #003500;
}

.info button {
  margin-top: 50px;
  width: 150px;
  height: 50px;
  border-radius: 60px;
  background: transparent;
  border: solid 2px #41a700;
  /* Build up */

  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #41a700;
}
.first-div {
  height: 900px;
  width: 100%;
  background-image: url("/assets/Home/Second-background.jpg");
  background-size: cover;
}
.darker-bg {
  background-color: #2525258a;
  align-items: center;
  justify-content: space-around;
}

.title img {
  width: 279px;
  height: 276px;
}
.title h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;
  color: #ffffff;
  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}
.title h3 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}
.darker-bg div {
  width: 600px;
  text-align: center;
}
.info-div {
  background: #025d02;
  height: 100%;
  padding: 72px;
}
.info-div h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;

  color: #ffffff;

  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.info-div p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}
.info-div button {
  border: solid 2px white;
  height: 70px;
  width: 270px;
  margin-top: 60px;
  background-color: transparent;
  border-radius: 17px;
  /* Learn more */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}
.second-div {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sec-one {
  width: 600px;
  height: 95%;
  text-align: center;
}
.second-div div:first-child img {
  height: 200px;
}

.second-div div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.w1 {
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
}
.w3 {
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}
.w2 {
  border-radius: 89.5px 0px 89.5px 0px;
}
.w4 {
  border-radius: 0px 89.5px 0px 89.5px;
}
.second-div div:nth-child(2) h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;

  color: #003500;

  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}
.second-div div:nth-child(2) p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #41a700;
  width: 70%;
  margin: auto;
}
.progresses {
  height: 200px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.third-div {
  height: 500px;
  display: flex;
  background-color: #a1f76b;
  flex-direction: column;
  align-items: center;
}
.plate-img {
  width: 802px;
  position: absolute;
  right: 164px;
  top: 74px;
}
.third-div h1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 79px;

  color: #003500;

  text-shadow: 7px 6px 9.7px rgba(0, 0, 0, 0.25);
}
.third-div p {
  width: 1000px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.third-div img {
  height: 90px;
  margin-top: 20px;
}
.third-div h5 {
  color: white;
  font-size: x-large;
}
