<main>
  <header>
    <div class="info">
      <p>Welcome to our</p>
      <h1>
        Healthy Food <br />
        Collection
      </h1>
      <h6>
        Empowering your health journey through <br> personalized, wholesome meals.
      </h6>

      <button>Build up</button>
    </div>

    <svg
      class="vectors"
      width="680"
      height="826"
      viewBox="0 0 780 926"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M488 452.5C214 643 83.6667 787.333 63 926H779.5L779 37C643 142 657.5 295.5 488 452.5Z"
        fill="#007E00"
      />
      <path
        d="M438 581.5C732 420.5 700 139.5 778.5 0L780 926H0C75.5 852 77.6917 778.812 438 581.5Z"
        fill="#40A401"
      />
    </svg>
  </header>
</main>
